.header {
  background-color: #a29daa;
  background-size: cover;
  background-position: 50% 87%;
  color: #fff;
  padding: 1em;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-bottom-width: 0; }
  @media (min-width: 55em) {
    .header {
      padding: 1.5em 1.5em 1.5em 40%;
      border-radius: 3px 3px 0 0;
      border-bottom-width: 0.5em; } }
  .header h1, .header p {
    color: inherit;
    margin: 0;
    padding: 0;
    line-height: 1.2em; }
  .header h1 {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 0.2em; }
  .header a {
    color: inherit; }
    .header a:hover, .header a:focus {
      text-decoration: none; }

#try-mapit {
  padding: 1em; }
  @media (min-width: 55em) {
    #try-mapit {
      padding: 1em 1.5em 1.5em 40%;
      border-radius: 3px 3px 0 0; } }
  #try-mapit form {
    padding: 0; }

.content {
  padding: 1em; }

#try-mapit #id_postcode {
  width: 8em; }
#try-mapit .btn {
  border-top: none;
  background-color: #1E6D96;
  line-height: 1.3em; }

.wwaii-intro {
  padding-top: 1em; }
  .wwaii-intro p {
    color: #a29daa;
    line-height: 1.4em;
    margin: 0; }
  .wwaii-intro h1 {
    color: inherit;
    font-size: 2em;
    line-height: 1.2em;
    margin-top: 0.5em; }

#try-mapit.front {
  background: transparent;
  padding: 0; }
  #try-mapit.front #id_postcode {
    border: 1px solid #999;
    margin-left: 0; }

.wwaii-features {
  margin: 2em -1em -1em -1em;
  background-color: #ebeaee;
  padding: 1.5em 1em; }

.wwaii-feature h3 {
  margin-top: 0;
  margin-bottom: 0.5em; }
.wwaii-feature p:last-child {
  margin-bottom: 0; }
.wwaii-feature + .wwaii-feature {
  margin-top: 1.5em; }

@media (min-width: 55em) {
  .wwaii-intro,
  #try-mapit.front {
    text-align: center;
    max-width: 30em;
    margin-left: auto;
    margin-right: auto; }

  #try-mapit.front {
    font-size: 1.3em; }

  .wwaii-features {
    overflow: auto; }

  .wwaii-feature {
    float: left;
    width: 30%;
    margin-left: 15%; }
    .wwaii-feature + .wwaii-feature {
      margin-top: 0;
      float: right;
      margin-right: 15%;
      margin-left: 0; } }
@media (min-height: 500px) {
  .wwaii-intro {
    padding-top: 2em; }

  .wwaii-features {
    margin-top: 3em; }

  .wwaii-features,
  .footer {
    padding-top: 2em;
    padding-bottom: 2em; } }
@media (min-height: 600px) {
  .wwaii-intro {
    padding-top: 3em; }

  .wwaii-features {
    margin-top: 4em; }

  .wwaii-features,
  .footer {
    padding-top: 3em;
    padding-bottom: 3em; } }
.major-credit {
  font-size: 1.25em;
  margin: 0 0 0.75em 0;
  color: inherit; }
  .major-credit a {
    color: #fff;
    text-decoration: none; }

.mapit-credit a:hover, .mapit-credit a:focus {
  text-decoration: underline; }

.mysociety-credit a {
  display: inline-block;
  background: transparent url(../img/mysociety-white.png) 0 0 no-repeat;
  background-size: 4.5em auto;
  width: 4.5em;
  height: 0.92593em;
  text-indent: -9000px;
  vertical-align: -0.25em;
  margin-left: 0.1em; }

@media (min-width: 55em) {
  .major-credit {
    float: left;
    width: 15%;
    margin-left: 2%; }
    .major-credit a {
      display: block; }

  .mapit-credit a {
    font-size: 1.3em; }

  .mysociety-credit a {
    background-size: 6em auto;
    width: 6em;
    height: 1.23457em;
    margin-left: 0;
    margin-top: 0.2em; }

  footer .database-credits {
    float: right;
    width: 60% !important; }
    footer .database-credits p {
      margin: 0; } }
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

/*# sourceMappingURL=main.css.map */
