// See bin/mapit_make_css
@import "variables";
@import "core";

@import "header";

.homepage-section {
    padding: 1em 0;
}

// Home page

#id_postcode {
    width: 8em;
}

.wwaii-intro {
  p {
    color: mix(#000, #bfb9c8, 15%);
    line-height: 1.4em;
    margin: 0;
  }

  h1 {
    color: inherit;
    font-size: 2em;
    line-height: 1.2em;
    margin-top: 0.5em;
  }
}

.wwaii-features {
  margin: 2em -1em -1em -1em;
  padding: 1.5em 1em;
}

.wwaii-feature {
  h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  p:last-child {
    margin-bottom: 0;
  }

  & + .wwaii-feature {
    margin-top: 1.5em;
  }
}

@media (min-width: 55em) {
  .wwaii-intro,
  #try-mapit {
    text-align: center;
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
  }

  #try-mapit {
    font-size: 1.3em;
  }

  .wwaii-features {
    overflow: auto;
  }

  .wwaii-feature {
    float: left;
    width: 30%;
    margin-left: 15%;

    & + .wwaii-feature {
      margin-top: 0;
      float: right;
      margin-right: 15%;
      margin-left: 0;
    }
  }
}

@media (min-height: 500px) {
  .wwaii-intro {
    padding-top: 1em;
  }

  .wwaii-features {
    margin-top: 3em;
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

@media (min-height: 600px) {
  .wwaii-intro {
    padding-top: 2em;
  }

  .wwaii-features {
    margin-top: 4em;
    padding-top: 3em;
    padding-bottom: 3em;
  }
}

// Random bits

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
