{% load url from compat %}
{% load static from staticfiles %}
<!DOCTYPE HTML>
<html lang="en-gb">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="imagetoolbar" content="false">
    <meta name="description" content="Find out which council ward you’re in for the election on May 7th 2015, with the latest data from mySociety’s MapIt.">

    <title>{% block fulltitle %}{% block title %}{% endblock %} - MapIt{% endblock %}</title>

    <link href="{% static "mapit/css/mapit.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "mapit/leaflet/leaflet.css" %}" />
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="{% static "mapit/leaflet/leaflet.ie.css" %}" />
        <script src="{% static "mapit/js/html5shiv.min.js" %}"></script>
        <script src="{% static "mapit/js/respond.min.js" %}"></script>
    <![endif]-->
    <script src="{% static "mapit/js/reqwest.min.js" %}"></script>
    <script src="{% static "mapit/leaflet/leaflet.js" %}"></script>

    {% block extra_css %}{% endblock %}

{% if norobots %}
    <meta name="robots" content="noindex, follow">
{% endif %}

{% if GOOGLE_ANALYTICS %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS }}']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}

</head>
<body id="mapit-mysociety-org" class="wwaii">

    <!-- mySociety top strip -->
    <div id="mysociety-org-bar">

        <a class="mysociety-home-link" href="http://www.mysociety.org/">
            <img src="{% static "mapit/img/page-top-mysociety.png" %}" alt="MapIt is a charitable project from mySociety" width="362" height="32">
        </a>

        <a class="mysociety-donate-link" href="http://www.mysociety.org/donate/">
            <img src="{% static "mapit/img/page-top-donate.png" %}" alt="Keep us online, Donate Now" width="160" height="32">
        </a>

    </div>

    <header class="header">
        <h1>Find out which ward you’re in for the election</h1>
        <p>Powered by <a href="http://mapit.mysociety.org/">MapIt</a></p>
    </header>

    {% if request.path != '/' %}
    <div id="try-mapit">
      <form action="/" method="post">
        {% csrf_token %}
        <label for="try-mapit-pc">Enter a postcode:</label>
        <input id="try-mapit-pc" maxlength="10"
               name="postcode" placeholder="Postcode" required
               type="text" value="{% block postcode_input_value %}{% endblock %}">
        <input class="btn" type="submit" value="Look up">
      </form>
    </div>
    {% endif %}

    <article class="content">
    {% block content %}
    {% endblock %}
    </article>

    <footer class="footer" role="contentinfo">
        <h3 class="major-credit mapit-credit">
          <small>Powered by</small>
          <a href="http://mapit.mysociety.org/">MapIt</a>
        </h3>

        <h3 class="major-credit mysociety-credit">
          <small>Built by</small>
          <a href="https://mysociety.org/">mySociety</a>
        </h3>

        <div class="database-credits">
            <p>Boundary data, Ordnance Survey © Crown copyright and database right 2015;
            postcode data OS plus © Royal Mail copyright and database right 2015;
            National Statistics data © Crown copyright and database right 2015.

            Map tiles by <a href="http://stamen.com/">Stamen Design</a>,
            under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>.
            Map data by <a href="http://openstreetmap.org">OpenStreetMap</a>,
            under <a href="http://www.openstreetmap.org/copyright">ODbL</a>.

            Code by <a href="https://www.mysociety.org/">mySociety</a>, available from
            <a href="https://github.com/mysociety/2015wards">GitHub</a>
            (<a href="https://github.com/mysociety/mapit">MapIt source</a>).
            </p>
        </div>
    </footer>

    {% block extra_js %}{% endblock %}
</body>
</html>
