{% extends 'base.html' %}

{% block title %}Which ward will I be in?{% endblock %}

{% block content %}
<p>
Elections take place on 7th May 2015 in many English local authorities (plus
there’s a general election you might have noticed). A number of these are
having boundary changes, and this site will let you know if your ward is
changing for the election. UK Parliamentary boundaries are not changing.
</p>

<div id="try-mapit" class="front">
  <form action="/" method="post">
    {% csrf_token %}
    <div class="form-group{% if form.postcode.errors %} has-error{% endif %}">
      <label class="sr-only" for="id_postcode">Postcode</label>
      <input id="id_postcode" maxlength="10"
             name="postcode" placeholder="Postcode" required
             title="" type="text"{% if form.postcode.value %} value="{{ form.postcode.value }}"{% endif %}
             autofocus>
      {% if form.postcode.errors %}
        <span class="help-block">{{ form.postcode.errors }}</span>
      {% endif %}
    <input class="btn" type="submit" value="Look up">
    </div>
  </form>
</div>

{% endblock %}
