{% extends 'base.html' %}

{% block title %}Which ward will I be in?{% endblock %}

{% block content %}
<p>
    Discover which ward you'll be in after the May 2015 election, following the
    <a href="http://www.lgbce.org.uk/">Local Government Boundary Commission
    for England</a> review.
<p>

<div id="try-mapit">
  <form action="/" method="post">
    {% csrf_token %}
    <div class="form-group{% if form.postcode.errors %} has-error{% endif %}">
      <label class="sr-only" for="id_postcode">Postcode</label>
      <input id="id_postcode" maxlength="10"
             name="postcode" placeholder="Postcode" required
             title="" type="text"{% if form.postcode.value %} value="{{ form.postcode.value }}"{% endif %}
             autofocus>
      {% if form.postcode.errors %}
        <span class="help-block">{{ form.postcode.errors }}</span>
      {% endif %}
    <input class="btn" type="submit" value="Search">
    </div>
  </form>
</div>

{% endblock %}
