{% extends 'base.html' %}

{% block title %}{{ postcode_display }} – Which ward will I be in?{% endblock %}

{% block postcode_input_value %}{{ postcode_display }}{% endblock %}

{% block content %}
<header class="area_info">
<h2>{{ postcode_display }}</h2>

{% if old_ward.country.name != 'England' %}
<p>You are in <strong>{{ old_ward.name }}</strong> ward;
you are not having local elections this year.
However, do find out about your general election candidates at <a
href="https://yournextmp.com/">YourNextMP.com</a>.</p>

{% else %}


<p>On election day (7<sup>th</sup> May 2015), you’ll be in
<strong>{% if new_ward %}{{ new_ward.name }}{% else %}{{ old_ward.name }}{% endif %}</strong>
ward.</p>

{% if ward_has_changed_area %}

  <p><span style="display:inline-block; width:3em; height:0.75em; background-color:#D4A06A;"></span> Old ward</p>
  <p><span style="display:inline-block; width:3em; height:0.75em; background-color:#265b6a;"></span> New ward</p>

  <p>
    {% if ward_has_changed_names %}
      You were previously in {{ old_ward.name }}.
    {% else %}
      If you can’t see much or any gold, that’s probably because the ward
      boundaries haven’t actually changed.
    {% endif %}
  </p>

  <p>Want to more about the boundaries for this council? Visit the <a
      href="http://www.lgbce.org.uk/current-reviews">Local Government Boundary
      Commission's website</a> to see full details of any changes.</p>

{% elif ward_has_changed_names %}
  <p>This ward has changed name from {{ old_ward.name }}.</p>
{% else %}
  <p>This ward will stay the same, according to the most recent official data.</p>
{% endif %}

<p><strong>New!</strong> Find out about your general election candidates at
    <a href="https://yournextmp.com/">YourNextMP.com</a>.</p>

{% endif %}{# End of non-England if #}

</header>

{% if old_ward %}
<h2>{% if ward_has_changed_area %}Ward comparison{% else %}Your ward{% endif %}</h2>
<div id="map"><div id="leaflet"></div></div>
{% endif %}
{% endblock %}

{% block extra_js %}
{{ block.super }}
{% if old_ward %}
  <script>
    var map = new L.Map("leaflet");
    var layer = new L.TileLayer("http://{s}tile.stamen.com/toner-lite/{z}/{x}/{y}.png", {
        "minZoom": 0,
        "maxZoom": 20,
        "subdomains": "a. b. c. d.".split(" ")
    });
    map.attributionControl.setPrefix('');
    map.addLayer(layer);

    var loaded = 0;
    function add_json(data, col) {
        var area = new L.GeoJSON(data);
        area.setStyle({color: col, fill: false, opacity: 1});
        map.addLayer(area);
        map.fitBounds(area.getBounds());
        loaded++;
        if (loaded == 2) {
            if (col == '#D4A06A') {
                area.bringToBack();
            } else {
                area.bringToFront();
            }
        }
    }

    reqwest({
        url: "{% url 'area_polygon' old_ward.id 'geojson' %}?simplify_tolerance=0.0001",
        type: 'json',
        success: function(data) { add_json(data, '#{% if ward_has_changed_area %}D4A06A{% else %}265b6a{% endif %}'); }
    });

    {% if ward_has_changed_area %}
        reqwest({
            url: "{% url 'area_polygon' new_ward.id 'geojson' %}?simplify_tolerance=0.0001",
            type: 'json',
            success: function(data) { add_json(data, '#265B6A'); }
        });
    {% endif %}

  </script>
{% endif %}
{% endblock %}
