{% extends 'base.html' %}

{% load url from future %}
{% load bootstrap3 %}

{% block title %}Which ward will I be in?{% endblock %}

{% block content %}
<h2>{{ postcode_display }}</h2>
<p>You'll be in <strong>{% if new_ward %}{{ new_ward.name }}{% else %}{{ old_ward.name }}{% endif %}</strong> ward.<p>
{% if ward_has_changed %}
  <p>
  Your ward will change,
    {% if ward_has_changed_names %}
        from {{ old_ward.name }} to {{ new_ward.name }}.
    {% else %}
        but the name will stay the same.
    {% endif %}
  </p>
  <p>
    You can try <a href="http://www.lgbce.org.uk/current-reviews">looking at
    the Local Government Boundary Commission's website</a> to see why.
  </p>
{% else %}
  <p>This ward will stay the same, as far as we know.</p>
{% endif %}

{% if old_ward %}
<h2>{% if new_ward %}Ward comparison{% else %}Your ward{% endif %}</h2>
<div class="row">
  <div class="col-md-6">
    <div id="map" style="height:400px"></div>
  </div>
  {% if new_ward %}
  <div class="col-md-6">
        <p><span style="display:inline-block; width:3em; height:0.75em; background-color:#D4A06A;"></span> Old ward</p>
        <p><span style="display:inline-block; width:3em; height:0.75em; background-color:#265b6a;"></span> New ward</p>
  </div>
  {% endif %}
</div>
{% endif %}
{% endblock %}

{% block bootstrap3_extra_script %}
{{ block.super }}
{% if old_ward %}
  <script>
    var map = new L.Map("map");
    var osm = new L.TileLayer('http://{s}.tiles.wmflabs.org/bw-mapnik/{z}/{x}/{y}.png', {
        attribution: 'Map data © OpenStreetMap contributors',
        maxZoom: 18
    });
    map.addLayer(osm);

    var old_area;

    reqwest({
        url: "{% url 'area_polygon' 4326 old_ward.id 'geojson' %}?simplify_tolerance=0.0001",
        type: 'json',
        success: function(data) {
            old_area = new L.GeoJSON(data)
            old_area.setStyle({color: '#265b6a', fill: false, opacity: 1});
            map.addLayer(old_area);

            var bounds = new L.LatLngBounds();
            old_area._iterateLayers(function (layer) {
                if (layer instanceof L.MultiPolygon) {
                    layer._iterateLayers(function(layer2) {
                        var new_bounds = layer2.getBounds();
                        bounds.extend(new_bounds.getSouthWest());
                        bounds.extend(new_bounds.getNorthEast());
                    });
                }
                if (layer instanceof L.Polygon) {
                    bounds = layer.getBounds();
                }
            }, old_area);
            map.fitBounds(bounds);
        }
    });

    {% if new_ward %}
        reqwest({
            url: "{% url 'area_polygon' 4326 new_ward.id 'geojson' %}?simplify_tolerance=0.0001",
            type: 'json',
            success: function(data) {
                var area = new L.GeoJSON(data);
                area.setStyle({fill: false, color: '#265b6a', opacity: 1});
                old_area.setStyle({color: '#D4A06A'});
                map.addLayer(area);

                var bounds = new L.LatLngBounds();
                area._iterateLayers(function (layer) {
                    if (layer instanceof L.MultiPolygon) {
                        layer._iterateLayers(function(layer2) {
                            var new_bounds = layer2.getBounds();
                            bounds.extend(new_bounds.getSouthWest());
                            bounds.extend(new_bounds.getNorthEast());
                        });
                    }
                    if (layer instanceof L.Polygon) {
                        bounds = layer.getBounds();
                    }
                }, area);
                map.fitBounds(bounds);
            }
        });
    {% endif %}

  </script>
{% endif %}
{% endblock %}
